node_modules
.expo
.next
dist
build
.firebase
coverage
*.log
.DS_Store
android
ios
.env
.env.local
mobile-app/.expo
mobile-app/dist
admin-dashboard/.next
admin-dashboard/out
firebase/hosting-admin
firebase/functions/lib

